Source: vifm
Section: utils
Priority: optional
Maintainer: Hendrik Jaeger <deb@henk.geekmail.org>
Build-Depends: debhelper (>= 9),
    dh-autoreconf,
    libncursesw5-dev,
    libmagic-dev,
    libx11-dev,
    vim
Standards-Version: 3.9.7
Homepage: http://vifm.info/

Package: vifm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: vim-addon-manager, libx11-6
Description: flexible vi-like file manager using ncurses
 Vifm is a file manager providing a vi-like usage experience. It has similar
 keybindings and modes (e.g. normal, command line, visual). The interface uses
 ncurses, thus vifm can be used in text-only environments.
 It supports a wide range of features, some of which are known from the
 vi-editor:
  - utf8 support
  - user mappings (almost like in vi)
  - ranges in command-line commands
  - user defined commands (with support for ranges)
  - registers
  - operation undoing/redoing
  - fuse file systems support
  - trash
  - multiple files renaming
  - support of filename modifiers
  - colorschemes support
  - file name color according to file type
  - path specific colorscheme customization
  - bookmarks
  - operation backgrounding
  - customizable file viewers
  - handy less-like preview mode
  - filtering out and searching for files using regular expressions
  - one or two panes view
 With the package comes a plugin to use vifm as a vim file selector.

